.login-popup{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.14);
    display: grid;
}
.login-popup-container{
    place-self: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: max(23vw,330px);
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn .5s;
}

.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-popup-title img{
    cursor: pointer;
    width: 16px;
}
.login-popup-inputs{
    display: flex ;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid rgba(224, 224, 224, 0.74);
    border-radius: 8px;
    padding: 10px ;
}
.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    background-color: tomato;
}

.login-popup-condition{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -15px;
}
.login-popup p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}